<p id="notice"><%= notice %></p>
<p>
  <strong>Answer text:</strong>
  <%= @answer.answer_text %><br />
  <strong>Question ID:</strong>
  <%= link_to @answer.question_id, {:controller => "questions", :action => "show", :id => @answer.question_id} %><br />
  <strong>User ID:</strong>
  <%= @answer.user_id %>
</p>
<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
