<h1>Listing quantifiers</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quantifiers.each do |quantifier| %>
      <tr>
        <td><%= quantifier.text %></td>
        <td><%= link_to 'Show', quantifier %></td>
        <td><%= link_to 'Edit', edit_quantifier_path(quantifier) %></td>
        <td><%= link_to 'Destroy', quantifier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quantifier', new_quantifier_path %>
